.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.singers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: scroll;
    height: 100vh;
}
.budget{
    padding: 15px;
}