.singer-card{
    padding: 20px;
    text-align: center;
    background: rgba(236, 229, 189, 0.349);
    margin: 10px;
    border-radius: 20px;
    color:rgb(46, 46, 46);
}
.singer-img{
    border-radius: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.add-list-btn{
    background-color: rgb(241, 186, 2);
    margin: 10px;
    padding: 5px 25px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(153, 118, 1);
    cursor:pointer;
}
.icon{
    padding: 5px;
}